<ion-view>
    <ion-content scroll="false" style="padding: 25px;">

        <div class="tagcloud style3 margin-30">
          <a class="tag-link-1" title="2 topics" ng-click="Tag('a')"><span>a</span></a>
          <a class="tag-link-2" title="3 topics" ng-click="Tag('abbr')"><span>abbr</span></a>
          <a class="tag-link-7" title="6 topics" ng-click="Tag('applet')"><span>applet</span></a>
          <a class="tag-link-3" title="5 topics" ng-click="Tag('area')"><span>area</span></a>
          <a class="tag-link-4" title="8 topics" ng-click="Tag('button')"><span>button</span></a>
          <a class="tag-link-8" title="8 topics" ng-click="Tag('code')"><span>code</span></a>
        </div>

        <div class="ribbons">
          <!-- Ribbons -->
          <div class="ribbon ribbon-green" ng-click="Search()"><span>标签</span></div>
          <div class="ribbon ribbon-brown" ng-click="Search()"><span>属性</span></div>
          <div class="ribbon" ng-click="Search()"><span>对象</span></div>
          <!--/ Ribbons -->
        </div>

        <div class="buttons" style="position: absolute;bottom: 0;right: 15px;" ng-click="Auth()">
            <a class="btn btn-right btn-green"><span>作 &nbsp;&nbsp; 者</span></a>
        </div>

    </ion-content>
</ion-view>
